@import '../utils/_variables';
.hero {
	position: relative;
	border: solid #000851;
	border-width: 150px 30px 30px 30px;
	display: flex;
	align-items: center;
	min-height: 786px;
	.btn-down {
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
		bottom: -65px;
		width: 100px;
		height: 100px;
		display: flex;
		justify-content: center;
		align-items: center;
		i {
			font-size: 45px;
			z-index: 1;
		}
		&:after {
			content: '';
			width: 100%;
			height: 100%;
			background-image: url(../img/btn-down-bg.svg);
			background-size: 100%;
			background-repeat: no-repeat;
			background-position: center;
			position: absolute;
			left: 0;
			top: 0;
			transition: $transition;
		}
		&:hover {
			&:after {
				transform: rotateZ(380deg);
			}
		}
	}
	&__title {
		background: #0D0D0D;
		padding: 15px 30px;
		display: inline-block;
		margin: auto;
		h1 {
			font-size: 72px;
			line-height: 86px;
			letter-spacing: 0.02em;
			text-transform: uppercase;
		}
	}
}

.rules {
	background: #0D0D0D;
	background-image: url(../img/rules-decor.png);
	background-repeat: no-repeat;
	padding-top: 150px;
	padding-bottom: 150px;
	&__info {
		display: none;
	}
	&__item {
		background: #0D0D0D;
		border: 1px solid #11CFE7;
		box-sizing: border-box;
		margin-bottom: 45px;
		padding-bottom: 16px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__title {
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
		letter-spacing: 0.02em;
		color: #FFFFFF;
		padding: 33px 40px 17px 100px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		$this: &;
		&-btn {
			position: relative;
			width: 73px;
			height: 73px;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			&:after {
				content: '';
				width: 100%;
				height: 100%;
				background-image: url(../img/btn-down-bg.svg);
				background-size: 100%;
				background-repeat: no-repeat;
				background-position: center;
				position: absolute;
				left: 0;
				top: 0;
				transition: .5s linear;
			}
			&:hover {
				&:after {
					transform: rotateZ(380deg);
				}
			}
			&.active {
				#{$this}-plus {
					&:before {
						transform: scale(0);
					}
				}
			}
		}
		&-plus {
			position: relative;
			width: 25px;
			height: 25px;
			display: flex;
			align-items: center;
			justify-content: center;
			z-index: 1;
			&:after, &:before {
				content: '';
				background-color: #11CFE7;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
			}
			&:after {
				height: 3px;
				width: 100%;
			}
			&:before {
				height: 100%;
				width: 3px;
				transition: $transition;
			}
		}
	}
	&__info {
		padding: 0 100px 52px;
		ol {
			counter-reset: item; 
		}
		li {
			counter-increment: item; 
			font-size: 18px;
			line-height: 145%;
			color: #fff;
			margin-bottom: 20px;
			&:last-child {
				margin-bottom: 0;
			}
			&:before {
				content: counter(item)'.';
				font-weight: 800;
				font-size: 18px;
				line-height: 145%;
				color: #ED37A4;
				padding-right: 6px;
			}
		}
		p{
			font-size: 18px;
			line-height: 145%;
			color: #fff;
			margin-bottom: 20px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.notification {
	max-width: 1530px;
	width: 100%;
	margin: auto;
	background: #00052E;
	border: 1px solid #11CFE7;
	box-sizing: border-box;
	padding: 94px 100px 100px;
	margin-bottom: 45px;
	h3 {
		font-weight: 800;
		font-size: 30px;
		line-height: 36px;
		letter-spacing: 0.02em;
		color: #ED37A4;
		margin-bottom: 40px;
		text-align: left;
	}
	&__txt {
		p {
			font-size: 18px;
			line-height: 26px;
			color: #FFFFFF;
			margin-bottom: 25px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		a {
			color: #11CFE7;
			font-weight: 700;
			display: inline;
			border-bottom: 1px solid #11CFE7;
			transition: $transition;
			&:hover {
				opacity: 0.8;
			}
		}
	}
}

@media screen and (max-width: 991px){
	.rules {
		padding-top: 50px;
		padding-bottom: 50px;
		&__title {
			padding: 30px 50px 14px;
		}
		&__info {
			padding: 0 50px 30px;
		}
	}
	.notification {
		padding: 50px;
	}
}

@media screen and (max-width: 767px) {
	.rules {
		.wrapper {
			padding: 0 15px;
		}
		&__item {
			padding-bottom: 0;
		}
		&__title {
			padding: 15px;
			font-size: 20px;
			line-height: 25px;
			&>span {
				width: calc(100% - 50px);
			}
			&-btn {
				width: 50px;
				height: 50px;
			}
			&-plus {
				width: 16px;
				height: 16px;
				&:before {
					width: 2px;
				}
				&:after {
					height: 2px;
				}
			}
		}
		&__info {
			padding: 0px 15px 30px;
			p, li {
				font-size: 14px;
				margin-bottom: 10px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
	.notification {
		padding: 30px 15px;
		h3 {
			padding: 0;
			font-size: 22px;
			line-height: 26px;
			margin-bottom: 15px;
		}
		&__txt {
			p {
				font-size: 14px;
				line-height: 20px;
				margin-bottom: 10px;
			}
		}
	}
	.hero {
		border-width: 30px 5px 5px;
		min-height: calc(100vh - 50px);
		background-size: cover;
		&__title {
			h1 {
				font-size: 30px;
				line-height: 36px;
				text-align: center;
			}
		}
		.btn-down {
			width: 60px;
			height: 60px;
			bottom: -35px;
			i {
				font-size: 25px;
			}
		}
	}
}